# Satisfaction Analysis

Assuming that the satisfaction of a user is dependent on user engagement and experience, you’re expected in this section to analyze customer satisfaction in depth.

In [1]:
#importing libraries
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from statistics import *
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import euclidean_distances

# Based on the engagement analysis + the experience analysis you conducted above ,

Write a python program to assign:

engagement score to each user. Consider the engagement score as the Euclidean distance between the user data point & the less engaged cluster (use the first clustering for this) (Euclidean Distance)
experience score to each user. Consider the experience score as the Euclidean distance between the user data point & the worst experience’s cluster.

# Engagement score

In [4]:
# centroid file from previous outputs
enga_centr = pd.read_csv('../data/centero_engagment.csv')
enga_centr = enga_centr.iloc[:,1:]
enga_centr

   Total UL and DL  Dur. (ms)  sessions frequency
0        -0.018266   5.431628            0.046955
1        -0.009948   1.332984           -0.210176
2         1.256253  -0.241265           -0.218358
3        -1.266658  -0.253828           -0.220158
4         0.010122  -0.050115            2.807734
5        -0.002853  -0.416422           -0.232556

In [6]:
# Import standardized engagement metric values 
enga_metr = pd.read_csv('../data/std_engagement.csv')
enga_metr.index = enga_metr['MSISDN/Number']
enga_metr = enga_metr.iloc[:,1:4]
enga_metr.head()

               Total UL and DL  Dur. (ms)  sessions frequency
MSISDN/Number
3.360100e+10         -1.158862  20.571127           -0.495197
3.360100e+10          0.921507  15.109232           -0.495197
3.360100e+10         -0.575403  15.069424           -0.495197
3.360101e+10          2.095055  14.589959           -0.495197
3.360101e+10          0.701781  11.820586            0.731244

In [7]:
# calculating the distance between the metric values and the centroid of the the first k-means cluster
engagement_score = euclidean_distances(enga_metr.values.tolist(),[enga_centr.values.tolist()[0]])
engagement_score

array([[15.19208078],
       [ 9.73822996],
       [ 9.66909777],
       ...,
       [ 4.61464489],
       [ 4.66646744],
       [ 4.70325266]])

In [8]:
engagement_score = [val[0] for val in engagement_score.tolist()]
engagement_score[:2]

[15.192080784619563, 9.738229960336461]

# Experience score

In [10]:
# Get centroid value from the previous files
exper_centr = pd.read_csv('../data/centro_experience.csv')
exper_centr = exper_centr.iloc[:,1:]
exper_centr

   Average RTT  Average TCP  Average throughput
0     0.750116    -0.506050           -0.744422
1    -1.230701     0.827638           -0.152066
2     0.518475    -0.346097            1.408331

In [12]:
# standardized experience metric values
exper_metr = pd.read_csv('../data/std_experience.csv')
exper_metr.index = exper_metr['MSISDN/Number']
exper_metr = exper_metr.iloc[:106856,1:4]
exper_metr

               Average TCP  Average throughput  Average RTT
MSISDN/Number
3.366117e+10     -1.357519           15.220434     0.510533
3.369817e+10      0.711986           11.928930    -0.596697
3.367251e+10     -1.480467           11.918292    -0.714487
3.365169e+10     -1.396600           10.960414    -0.855836
3.366856e+10      0.692157           10.681835    -0.596697
...                    ...                 ...          ...
3.361648e+10      0.761222           -0.552987    -0.855836
3.362400e+10      0.761222           -0.552987    -1.303439
3.376193e+10      0.761222           -0.552987    -0.125535
3.369817e+10      0.761222           -0.552987    -1.067859
3.360672e+10      0.761222           -0.552987     1.251637

[106856 rows x 3 columns]

In [13]:
# Calculating the distance between the metric values and the centroid of the the first k-means cluster
experience_score = euclidean_distances(exper_metr.values.tolist(),[exper_centr.values.tolist()[0]])
experience_score

array([[15.91663653],
       [12.43591568],
       [12.62302166],
       ...,
       [ 0.62076363],
       [ 0.32701291],
       [ 1.99664168]])